body {
  padding-left: 34%;
  background: #fff;
  font-family: $avenir;
}

* {
  box-sizing: border-box;
  color: $grey;
}

.brand {
  height: 100%;
  width: 34%;
  padding: 10em 7.5em;
  background: linear-gradient(135deg, $dark-blue 0%, $blue 100%);
  position: fixed;
  left: 0;
  top: 0;

  * {
    color: #fff;
  }
}

.main-view {
  padding: 5em 7.5em 10em 7.5em;
}

